<main>
    <div class="main-container">
        <h1>Login</h1>
        <form class="controls" id="login-form">
            <input class="input" type="email" name="email" placeholder="Type an email">
            <input class="input" type="password" name="password" placeholder="Type a password">
            <input class="button" type="submit" value="Login">
        </form>
        <p>Not registered? Click <a href="/register">here</a></p>
        <p>Forgot password? Click <a href="/forgot-password">here</a></p>
    </div>
</main>
<script src="/js/login.js"></script>